{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  {% if creado %}
  <h2>CLIENTE INGRESADO CON EXITO!</h2>
  <form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
<p style="text-align:center;margin:40px"><input type="submit" name="" value="CREAR NUEVO CLIENTE" class="btn btn-danger btn-lg"></p>
    </form>
  {% elif user.categoria == "ADM" or user.categoria == "COT" %}
  <h2>CREACION DE CLIENTES:</h2>
  <form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {{ cliente.as_p }}
    <input type="submit" name="crear" value="CREAR" class="btn btn-primary">
  </form>
{% endif %}

</div>
{% endblock %}
