{% extends "base.html" %}
{% block content %}
{% load staticfiles %}


<div class="container">
  <p id="plogo"><img src="{% static "LOGOS-01.png"%}" id="logo2" alt="" align="middle"></p>
  <h2>¿Quiénes somos?</h2>
  <p>Somos una Industria Gráfica con más de 40 años de experiencia en el mercado, ofrecemos una amplia gama de servicios de impresión tanto de offset como de gigantografía. Contamos con certificaciones de  las más prestigiosas empresas auditoras, las cuales respaldan nuestro alto nivel de servicio, buscando siempre la plena satisfacción de nuestros clientes.</p>
  <h2>Misión</h2>
  <p>Desarrollar los mejores productos del mercado, con precios competitivos, caracterizándonos por nuestra excelencia y rapidez en el servicio.</p>

  <h2>Visión</h2>
  <p>Ser la Imprenta líder en el mercado Ecuatoriano, a través de nuestros altos estándares de eficiencia y calidad, utilizando  el  mejor  recurso  humano  y  tecnológico.</p>

<h2>Valores</h2>
<ul>
  <li><strong>Cumplimos lo que prometemos.</strong></li>
  <li>Ser honestos y éticos en nuestras acciones.</li>
<li>La Excelencia y satisfacción total de nuestros clientes.</li>
<li>Trabajo en equipo y reconocimiento permanente.</li>
<li>Mejoramiento continuo.</li>
<li>Cumplir y hacer cumplir las reglas y políticas de la Empresa.</li>



</ul>
</div>





{% endblock %}
