{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  {% if creado %}
  <h2>MATERIAL INGRESADO CON EXITO!</h2>
  <form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
<p style="text-align:center;margin:40px"><input type="submit" name="" value="CREAR NUEVO MATERIAL" class="btn btn-danger btn-lg"></p>
    </form>
  {% elif user.categoria == "ADM" %}
  <h2>INGRESO DE MATERIALES:</h2>
  <form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {{ material.as_p }}
    <input type="submit" name="crear" value="CREAR" class="btn btn-primary">
  </form>
{% endif %}

</div>
{% endblock %}
