{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container">
  {% if solicitado %}
  <h2>COTIZACIÓN #{{numero_solicitud.num_solicitud }} SOLICITADA!</h2>
  <form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <input type="hidden" name="cot_reutilizar_ult" value="{{numero_solicitud.num_solicitud }}">
    <p style="text-align:center;margin:40px"><input type="submit" name="regresar" value="NUEVA SOLICITUD" class="btn btn-primary btn-lg"> <input type="submit" name="reutilizar" value="REUTILIZAR ULTIMA COTIZACION" class="btn btn-danger btn-lg"></p>
  </form>
  {% else %}
  {% if busqueda and cotizacion_encontrada == "NO HAY" %}
  <h2>COTIZACIÓN A REUTILIZAR NO ENCONTRADA</h2>
  {% else %}
   {% if busqueda and cotizacion_encontrada.vendedor != user.username %}
   <h2>COTIZACIÓN A REUTILIZAR NO ENCONTRADA</h2>
   {% else %}
  <h2>SOLICITUD DE COTIZACIÓN</h2>
  <form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <div class="container">


    <label for=""># Cotizacion a reutilizar: </label>
    <input type="text" name="cot_reutilizar" value="">
    <input type="submit" name="Buscar" value="Buscar" class="btn btn-primary">

  </form>
  </div>

  <form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <table class="table table-bordered solido">
      <tr>
        <td colspan="2"><label for="">Cliente:</label></td>
    <td colspan="2">{{ cotizacion.nombre_cliente }}</td>
    <td colspan="2"> <label for="">Nombre de promocion: </label></td>
    <td colspan="2">{{ cotizacion.trabajo }}</td>

      </tr>
    <tr>
      <td colspan="2"><label for="">Tipo de trabajo:</label></td>
      <td colspan="2"><select class="" name="opciones" onchange="verificar_tipo_trabajo(this)" required>
        {% if busqueda %}
        <option value="{{ cotizacion_encontrada.tipo_trabajo }}">{{ cotizacion_encontrada.tipo_trabajo }}</option>
        {% else %}
      <option value=""></option>
      {% endif %}
      {% for items in tipo_trabajo %}
      <option value="{{ items }}" label="{{ items }}">{{ items }}</option>


      {% endfor %}

      </select>
      {% for items in tipo_trabajo %}
      <input type="hidden" id="{{ items }}" value="{{ items.materiales_adicionales }}" name="{{ items.insumo }}">
      {% endfor %}
    </td>

      <td colspan="2"><label for="">Cantidad:</label></td>
      <td colspan="2">{{ cotizacion.cantidad }}</td>


      </tr>

      </table>
      <table class="table table-bordered solido">

        <thead>
          <th colspan="8" style="color:darkblue;text-align:center"><strong>MATERIALES</strong></th>
        </thead>
      <tr>
        <td><label for="">Material</label></td>
        <td> <label for="">Descripcion</label> </td>
        <td> <label for="">Medida</label> </td>
        <td> <label for="">Impresion</label> </td>
        <td> <label for="">Uv</label>  </td>
        <td> <label for="">Laminado</label> </td>
        <td> <label for="">Troquelado</label> </td>
      </tr>
      <tr>
        <td> <select  name="material1" onchange="chequeo_material(this)" required>
          {% if busqueda %}
          <option value="{{ cotizacion_encontrada.material}}">{{ cotizacion_encontrada.material }}</option>
          {% else %}
        <option value=""></option>
        {% endif %}
          {% for material in materiales %}
          <option value="{{ material }}">{{ material }}</option>
{% endfor %}
        </select> </td>
        {% if busqueda %}
        <td> <input type="text" name="descripcion" value="{{cotizacion_encontrada.descripcion_material }}" required> </td>
        {% else %}
    <td> <input type="text" name="descripcion" value="" required> </td>
      {% endif %}
      {% if busqueda %}
      <td> <input type="number" step="0.01" pattern="\d+" name="alto1" value="{{cotizacion_encontrada.medida_alto}}" required> X <input type="number" step="0.01" pattern="\d+" name="ancho1" value="{{cotizacion_encontrada.medida_ancho}}" required> </td>
      {% else %}
  <td> <input type="number" step="0.01" pattern="\d+" name="alto1" value="" required> X <input type="number" step="0.01" pattern="\d+" name="ancho1" value="" required> </td>
    {% endif %}

        <td>
          <label for="">Tiro:</label>
          <select class="" name="impresiont1" onchange="pantonet1(this)" id="impresiont" required>
            {% if busqueda %}
            <option value="{{ cotizacion_encontrada.impresion_tiro}}">{{ cotizacion_encontrada.impresion_tiro }}</option>
            {% else %}
          <option value=""></option>
          {% endif %}
            <option value="Sin impresion">Sin impresion</option>
            <option value="F/C">F/C</option>

            <option value="Pantones">Pantones</option>
            <option value="F/C + Pantones">F/C + Pantones</option>

          </select>
          <input type="text" name="num_pantonest1" id="num_pantonest1" value="" placeholder="# pantones" style="display:none">
          <label for="">Retiro:</label>
          <select class="" name="impresionr1"  onchange="pantoner1(this)"id="impresionr" required>
            {% if busqueda %}
            <option value="{{ cotizacion_encontrada.impresion_retiro}}">{{ cotizacion_encontrada.impresion_retiro }}</option>
            {% else %}
          <option value=""></option>
          {% endif %}
            <option value="Sin impresion">Sin impresion</option>
            <option value="F/C">F/C</option>

            <option value="Pantones">Pantones</option>
            <option value="F/C + Pantones">F/C + Pantones</option>

          </select>
          <input type="text" name="num_pantonesr1" id="num_pantonesr1" value="" placeholder="# pantones" style="display:none">
         </td>
        <td>
          <select class="" name="uv1" required>
            {% if busqueda %}
            <option value="{{ cotizacion_encontrada.uv}}">{{ cotizacion_encontrada.uv }}</option>
            {% else %}
          <option value=""></option>
          {% endif %}
            <option value="Sin UV">Sin UV</option>
            <option value="Uv tiro">Uv Tiro</option>
            <option value="Uv tiro y retiro">Uv tiro y retiro</option>
            <option value="Sectorizado tiro">Sectorizado tiro</option>
            <option value="Sectorizado tiro y retiro">Sectorizado tiro y retiro</option>

          </select>
          </td>
          <td>
          <select class="" name="laminado1" required>
            {% if busqueda %}
            <option value="{{ cotizacion_encontrada.laminado}}">{{ cotizacion_encontrada.laminado }}</option>
            {% else %}
          <option value=""></option>
          {% endif %}
            <option value="Sin laminado">Sin laminado</option>
            <option value="Laminado mate tiro">Laminado mate tiro</option>
            <option value="Laminado mate tiro y retiro">Laminado mate tiro y retiro</option>
            <option value="Laminado brillo tiro">Laminado brillo tiro</option>
            <option value="Laminado brillo tiro y retiro">Laminado brillo tiro y retiro</option>


          </select></td>
<td>{% if busqueda and cotizacion_encontrada.material|make_list|slice:'0:8'|join:'' != "Adhesivo"   %}
          <select class="" name="troquel1" id="troquelado" onchange="troquel_existente1_fun(this)" required>

            <option value="{{ cotizacion_encontrada.troquelado}}">{{ cotizacion_encontrada.troquelado }}</option>
            <option value="Sin troquelar">Sin troquelar</option>
            <option value="Troquel nuevo">Troquel nuevo</option>
            <option value="Troquel existente">Troquel existente</option>
            <option value="Solo grafado">Solo grafado</option>


          </select>
          <select class="" name="troqueladh1" id="troqueladoadh" onchange="troquel_existente1_fun(this)" style="display:none">

        <option value=""></option>

           <option value="Sin troquelar">Sin troquelar</option>
          <option value="Individuales con medio corte adelante">Individuales con medio corte adelante</option>
          <option value="En planas para desprender corte recto">En planas para desprender corte recto</option>
          <option value="En planas para desprender troquel nuevo">En planas para desprender troquel nuevo</option>
          <option value="En planas para desprender troquel existente">En planas para desprender troquel existente</option>
          <option value="Individuales con troquel nuevo">Individuales con troquel nuevo</option>
          <option value="Individuales con troquel existente">Individuales con troquel existente</option>


        </select>

          {% elif busqueda and cotizacion_encontrada.material|make_list|slice:'0:8'|join:'' == "Adhesivo"   %}
            <select class="" name="troqueladh1" id="troqueladoadh" onchange="troquel_existente1_fun(this)" required>
              <option value="{{ cotizacion_encontrada.troquelado}}">{{ cotizacion_encontrada.troquelado }}</option>
              <option value="Sin troquelar">Sin troquelar</option>
              <option value="Individuales con medio corte adelante">Individuales con medio corte adelante</option>
              <option value="En planas para desprender corte recto">En planas para desprender corte recto</option>
              <option value="En planas para desprender troquel nuevo">En planas para desprender troquel nuevo</option>
              <option value="En planas para desprender troquel existente">En planas para desprender troquel existente</option>
              <option value="Individuales con troquel nuevo">Individuales con troquel nuevo</option>
              <option value="Individuales con troquel existente">Individuales con troquel existente</option>
                </select>
                <select class="" name="troquel1" id="troquelado" onchange="troquel_existente1_fun(this)" style="display:none">

                  <option value=""></option>
                  <option value="Sin troquelar">Sin troquelar</option>
                  <option value="Troquel nuevo">Troquel nuevo</option>
                  <option value="Troquel existente">Troquel existente</option>
                  <option value="Solo grafado">Solo grafado</option>


                </select>
            {% else %}
            <select class="" name="troquel1" id="troquelado" onchange="troquel_existente1_fun(this)" required>

              <option value=""></option>
              <option value="Sin troquelar">Sin troquelar</option>
              <option value="Troquel nuevo">Troquel nuevo</option>
              <option value="Troquel existente">Troquel existente</option>
              <option value="Solo grafado">Solo grafado</option>


            </select>


          <select class="" name="troqueladh1" id="troqueladoadh" onchange="troquel_existente1_fun(this)" style="display:none">

        <option value=""></option>

            <option value="Sin troquelar">Sin troquelar</option>
          <option value="Individuales con medio corte adelante">Individuales con medio corte adelante</option>
          <option value="En planas para desprender corte recto">En planas para desprender corte recto</option>
          <option value="En planas para desprender troquel nuevo">En planas para desprender troquel nuevo</option>
          <option value="En planas para desprender troquel existente">En planas para desprender troquel existente</option>
          <option value="Individuales con troquel nuevo">Individuales con troquel nuevo</option>
          <option value="Individuales con troquel existente">Individuales con troquel existente</option>


        </select>
        {% endif %}
          <input type="text" name="troquel_existente1" id="troquel_existente1" value="" placeholder="referencia troquel" style="display:none">

         </td>

         <td id="boton_agregar"> <img  src="{% static "mas.png"%}" alt="+" onclick="agregar1()" style="width:30px;height:auto"> </td>
      </tr>

      {% if busqueda and cotizacion_encontrada.material2 %}
      <tr id="luno">
      {% else %}
      <tr id="luno" style="display:none">
      {% endif %}

        <td> <select class="" name="material2" id="material1" onchange="chequeo_material2(this)">
          {% if busqueda %}
          <option value="{{ cotizacion_encontrada.material2 }}">{{ cotizacion_encontrada.material2 }}</option>
          {% else %}
        <option value=""></option>
        {% endif %}
          {% for material in materiales %}
          <option value="{{ material }}">{{ material }}</option>
{% endfor %}

        </select> </td>
        {% if busqueda %}
        <td> <input type="text" name="descripcion2" value="{{cotizacion_encontrada.descripcion_material2}}" id="descripcion1"> </td>
        {% else %}
      <td> <input type="text" name="descripcion2" value="" id="descripcion1"> </td>
      {% endif %}
      {% if busqueda %}
      <td> <input type="number" name="alto2" step="0.01" pattern="\d+" value="{{cotizacion_encontrada.medida_alto_2}}" id="alto1"> X <input type="number" step="0.01" pattern="\d+" value="{{cotizacion_encontrada.medida_ancho_2}}" name="ancho2" id="ancho1"> </td>
      {% else %}
    <td> <input type="number" name="alto2" step="0.01" pattern="\d+" value="0" id="alto1"> X <input type="number" step="0.01" pattern="\d+" value="0" name="ancho2" id="ancho1"> </td>
    {% endif %}

        <td>

          <label for="">Tiro:</label>
          <select class="" name="impresiont2" onchange="pantonet2(this)" id="impresiont1">
            {% if busqueda %}
            <option value="{{ cotizacion_encontrada.impresion_tiro2}}">{{ cotizacion_encontrada.impresion_tiro2 }}</option>
            {% else %}
          <option value=""></option>
          {% endif %}
            <option value="Sin impresion">Sin impresion</option>
            <option value="F/C">F/C</option>

            <option value="Pantones">Pantones</option>
            <option value="F/C + Pantones">F/C + Pantones</option>

          </select>
          <input type="text" name="num_pantonest2" id="num_pantonest2" value="" placeholder="# pantones" style="display:none">
          <label for="">Retiro:</label>
          <select class="" name="impresionr2"  onchange="pantoner2(this)" id="impresionr1">
            {% if busqueda %}
            <option value="{{ cotizacion_encontrada.impresion_retiro2}}">{{ cotizacion_encontrada.impresion_retiro2 }}</option>
            {% else %}
          <option value=""></option>
          {% endif %}
            <option value="Sin impresion">Sin impresion</option>
            <option value="F/C">F/C</option>

            <option value="Pantones">Pantones</option>
            <option value="F/C + Pantones">F/C + Pantones</option>

          </select>
          <input type="text" name="num_pantonesr2" id="num_pantonesr2" value="" placeholder="# pantones" style="display:none">
         </td>
        <td>
          <select class="" name="uv2" id="uv1">
            {% if busqueda %}
            <option value="{{ cotizacion_encontrada.uv2}}">{{ cotizacion_encontrada.uv2 }}</option>
            {% else %}
          <option value=""></option>
          {% endif %}
            <option value="Sin UV">Sin UV</option>
            <option value="Uv tiro">Uv Tiro</option>
            <option value="Uv tiro y retiro">Uv tiro y retiro</option>
            <option value="Sectorizado tiro">Sectorizado tiro</option>
            <option value="Sectorizado tiro y retiro">Sectorizado tiro y retiro</option>
          </select>
          </td>
          <td>
          <select class="" name="laminado2" id="laminado1">
            {% if busqueda %}
            <option value="{{ cotizacion_encontrada.laminado2}}">{{ cotizacion_encontrada.laminado2 }}</option>
            {% else %}
          <option value=""></option>
          {% endif %}
            <option value="Sin laminado">Sin laminado</option>
            <option value="Laminado mate tiro">Laminado mate tiro</option>
            <option value="Laminado mate tiro y retiro">Laminado mate tiro y retiro</option>
            <option value="Laminado brillo tiro">Laminado brillo tiro</option>
            <option value="Laminado brillo tiro y retiro">Laminado brillo tiro y retiro</option>

          </select></td>
          <td>
            {% if busqueda and cotizacion_encontrada.material2 != "" %}
            {% if busqueda and cotizacion_encontrada.material2|make_list|slice:'0:8'|join:'' != "Adhesivo"   %}
                    <select class="" name="troquel2" id="troquelado1" onchange="troquel_existente2_fun(this)" required>

                      <option value="{{ cotizacion_encontrada.troquelado2}}">{{ cotizacion_encontrada.troquelado2 }}</option>
                      <option value="Sin troquelar">Sin troquelar</option>
                      <option value="Troquel nuevo">Troquel nuevo</option>
                      <option value="Troquel existente">Troquel existente</option>
                      <option value="Solo grafado">Solo grafado</option>


                    </select>
                    <select class="" name="troqueladh2" id="troqueladoadh1" onchange="troquel_existente2_fun(this)" style="display:none">

                  <option value=""></option>

                    <option value="Sin troquelar">Sin troquelar</option>
                    <option value="Individuales con medio corte adelante">Individuales con medio corte adelante</option>
                    <option value="En planas para desprender corte recto">En planas para desprender corte recto</option>
                    <option value="En planas para desprender troquel nuevo">En planas para desprender troquel nuevo</option>
                    <option value="En planas para desprender troquel existente">En planas para desprender troquel existente</option>
                    <option value="Individuales con troquel nuevo">Individuales con troquel nuevo</option>
                    <option value="Individuales con troquel existente">Individuales con troquel existente</option>


                  </select>

                    {% elif busqueda and cotizacion_encontrada.material2|make_list|slice:'0:8'|join:'' == "Adhesivo"   %}
                      <select class="" name="troqueladh2" id="troqueladoadh1" onchange="troquel_existente2_fun(this)" required>
                        <option value="{{ cotizacion_encontrada.troquelado2}}">{{ cotizacion_encontrada.troquelado2 }}</option>
                        <option value="Sin troquelar">Sin troquelar</option>
                        <option value="Individuales con medio corte adelante">Individuales con medio corte adelante</option>
                        <option value="En planas para desprender corte recto">En planas para desprender corte recto</option>
                        <option value="En planas para desprender troquel nuevo">En planas para desprender troquel nuevo</option>
                        <option value="En planas para desprender troquel existente">En planas para desprender troquel existente</option>
                        <option value="Individuales con troquel nuevo">Individuales con troquel nuevo</option>
                        <option value="Individuales con troquel existente">Individuales con troquel existente</option>
                          </select>
                          <select class="" name="troquel2" id="troquelado1" onchange="troquel_existente2_fun(this)" style="display:none">

                            <option value=""></option>
                            <option value="Sin troquelar">Sin troquelar</option>
                            <option value="Troquel nuevo">Troquel nuevo</option>
                            <option value="Troquel existente">Troquel existente</option>
                            <option value="Solo grafado">Solo grafado</option>


                          </select>
                          {% endif %}
                      {% else %}
                      <select class="" name="troquel2" id="troquelado1" onchange="troquel_existente2_fun(this)">

                        <option value=""></option>
                        <option value="Sin troquelar">Sin troquelar</option>
                        <option value="Troquel nuevo">Troquel nuevo</option>
                        <option value="Troquel existente">Troquel existente</option>
                        <option value="Solo grafado">Solo grafado</option>


                      </select>


                    <select class="" name="troqueladh2" id="troqueladoadh1" onchange="troquel_existente2_fun(this)" style="display:none">

                  <option value=""></option>

                    <option value="Sin troquelar">Sin troquelar</option>
                    <option value="Individuales con medio corte adelante">Individuales con medio corte adelante</option>
                    <option value="En planas para desprender corte recto">En planas para desprender corte recto</option>
                    <option value="En planas para desprender troquel nuevo">En planas para desprender troquel nuevo</option>
                    <option value="En planas para desprender troquel existente">En planas para desprender troquel existente</option>
                    <option value="Individuales con troquel nuevo">Individuales con troquel nuevo</option>
                    <option value="Individuales con troquel existente">Individuales con troquel existente</option>


                  </select>
                  {% endif %}
                    <input type="text" name="troquel_existente2" id="troquel_existente2" value="" placeholder="referencia troquel" style="display:none">

                   </td>
         <td> <img src="{% static "mas.png"%}" alt="+" onclick="agregar2()" style="width:30px;height:auto">
          <img id="boton_quitar" src="{% static "menos.png"%}" alt="-" onclick="quitar1()" style="width:30px;height:auto;margin-top:25px"> </td>
      </tr>

      {% if busqueda and cotizacion_encontrada.material3 %}
      <tr id="ldos">
      {% else %}
      <tr id="ldos" style="display:none">
      {% endif %}

        <td> <select class="" name="material3" id="material2" onchange="chequeo_material3(this)">
          {% if busqueda %}
          <option value="{{ cotizacion_encontrada.material3}}">{{ cotizacion_encontrada.material3 }}</option>
          {% else %}
        <option value=""></option>
        {% endif %}
          {% for material in materiales %}
          <option value="{{ material }}">{{ material }}</option>
          {% endfor %}

        </select> </td>
        {% if busqueda %}
        <td> <input type="text" name="descripcion3" value="{{cotizacion_encontrada.descripcion_material3}}" id="descripcion2"> </td>
        {% else %}
      <td> <input type="text" name="descripcion3" value="" id="descripcion2"> </td>
      {% endif %}
      {% if busqueda %}
      <td> <input type="number" name="alto3" step="0.01" pattern="\d+" value="{{cotizacion_encontrada.medida_alto_3}}" id="alto2"> X <input type="number" step="0.01" pattern="\d+" name="ancho3" value="{{cotizacion_encontrada.medida_ancho_3}}" id="ancho2"> </td>
      {% else %}
      <td> <input type="number" name="alto3" step="0.01" pattern="\d+" value="0" id="alto2"> X <input type="number" step="0.01" pattern="\d+" name="ancho3" value="0" id="ancho2"> </td>
    {% endif %}

        <td>

          <label for="">Tiro:</label>
          <select class="" name="impresiont3" onchange="pantonet3(this)" id="impresiont2">
            {% if busqueda %}
            <option value="{{ cotizacion_encontrada.impresion_tiro3}}">{{ cotizacion_encontrada.impresion_tiro3 }}</option>
            {% else %}
          <option value=""></option>
          {% endif %}
            <option value="Sin impresion">Sin impresion</option>
            <option value="F/C">F/C</option>

            <option value="Pantones">Pantones</option>
            <option value="F/C + Pantones">F/C + Pantones</option>

          </select>
          <input type="text" name="num_pantonest3" id="num_pantonest3" value="" placeholder="# pantones" style="display:none">
          <label for="">Retiro:</label>
          <select class="" name="impresionr3"  onchange="pantoner3(this)" id="impresionr2">
            {% if busqueda %}
            <option value="{{ cotizacion_encontrada.impresion_retiro3}}">{{ cotizacion_encontrada.impresion_retiro3 }}</option>
            {% else %}
          <option value=""></option>
          {% endif %}
            <option value="Sin impresion">Sin impresion</option>
            <option value="F/C">F/C</option>

            <option value="Pantones">Pantones</option>
            <option value="F/C + Pantones">F/C + Pantones</option>

          </select>
          <input type="text" name="num_pantonesr3" value="" id="num_pantonesr3" placeholder="# pantones" style="display:none">
         </td>
        <td>
          <select class="" name="uv3" id="uv2">
            {% if busqueda %}
            <option value="{{ cotizacion_encontrada.uv3}}">{{ cotizacion_encontrada.uv3 }}</option>
            {% else %}
          <option value=""></option>
          {% endif %}
            <option value="Sin UV">Sin UV</option>
            <option value="Uv tiro">Uv Tiro</option>
            <option value="Uv tiro y retiro">Uv tiro y retiro</option>
            <option value="Sectorizado tiro">Sectorizado tiro</option>
            <option value="Sectorizado tiro y retiro">Sectorizado tiro y retiro</option>
          </select>
          </td>
          <td>
          <select class="" name="laminado3" id="laminado2">
            {% if busqueda %}
            <option value="{{ cotizacion_encontrada.laminado3}}">{{ cotizacion_encontrada.laminado3 }}</option>
            {% else %}
          <option value=""></option>
          {% endif %}
            <option value="Sin laminado">Sin laminado</option>
            <option value="Laminado mate tiro">Laminado mate tiro</option>
            <option value="Laminado mate tiro y retiro">Laminado mate tiro y retiro</option>
            <option value="Laminado brillo tiro">Laminado brillo tiro</option>
            <option value="Laminado brillo tiro y retiro">Laminado brillo tiro y retiro</option>

          </select></td>
          <td>
            {% if busqueda and cotizacion_encontrada.material3 != "" %}
            {% if busqueda and cotizacion_encontrada.material3|make_list|slice:'0:8'|join:'' != "Adhesivo"   %}
                    <select class="" name="troquel3" id="troquelado2" onchange="troquel_existente3_fun(this)" required>

                      <option value="{{ cotizacion_encontrada.troquelado3}}">{{ cotizacion_encontrada.troquelado3 }}</option>
                      <option value="Sin troquelar">Sin troquelar</option>
                      <option value="Troquel nuevo">Troquel nuevo</option>
                      <option value="Troquel existente">Troquel existente</option>
                      <option value="Solo grafado">Solo grafado</option>


                    </select>
                    <select class="" name="troqueladh3" id="troqueladoadh2" onchange="troquel_existente3_fun(this)" style="display:none">

                  <option value=""></option>

                    <option value="Sin troquelar">Sin troquelar</option>
                    <option value="Individuales con medio corte adelante">Individuales con medio corte adelante</option>
                    <option value="En planas para desprender corte recto">En planas para desprender corte recto</option>
                    <option value="En planas para desprender troquel nuevo">En planas para desprender troquel nuevo</option>
                    <option value="En planas para desprender troquel existente">En planas para desprender troquel existente</option>
                    <option value="Individuales con troquel nuevo">Individuales con troquel nuevo</option>
                    <option value="Individuales con troquel existente">Individuales con troquel existente</option>


                  </select>

                    {% elif busqueda and cotizacion_encontrada.material3|make_list|slice:'0:8'|join:'' == "Adhesivo"   %}
                      <select class="" name="troqueladh3" id="troqueladoadh2" onchange="troquel_existente3_fun(this)" required>
                        <option value="{{ cotizacion_encontrada.troquelado3}}">{{ cotizacion_encontrada.troquelado3 }}</option>
                        <option value="Sin troquelar">Sin troquelar</option>
                        <option value="Individuales con medio corte adelante">Individuales con medio corte adelante</option>
                        <option value="En planas para desprender corte recto">En planas para desprender corte recto</option>
                        <option value="En planas para desprender troquel nuevo">En planas para desprender troquel nuevo</option>
                        <option value="En planas para desprender troquel existente">En planas para desprender troquel existente</option>
                        <option value="Individuales con troquel nuevo">Individuales con troquel nuevo</option>
                        <option value="Individuales con troquel existente">Individuales con troquel existente</option>
                          </select>
                          <select class="" name="troquel1" id="troquelado2" onchange="troquel_existente3_fun(this)" style="display:none">

                            <option value=""></option>
                            <option value="Sin troquelar">Sin troquelar</option>
                            <option value="Troquel nuevo">Troquel nuevo</option>
                            <option value="Troquel existente">Troquel existente</option>
                            <option value="Solo grafado">Solo grafado</option>


                          </select>
                          {% endif %}
                      {% else %}
                      <select class="" name="troquel3" id="troquelado2" onchange="troquel_existente3_fun(this)">

                        <option value=""></option>
                        <option value="Sin troquelar">Sin troquelar</option>
                        <option value="Troquel nuevo">Troquel nuevo</option>
                        <option value="Troquel existente">Troquel existente</option>
                        <option value="Solo grafado">Solo grafado</option>


                      </select>


                    <select class="" name="troqueladh3" id="troqueladoadh2" onchange="troquel_existente3_fun(this)" style="display:none">

                  <option value=""></option>

                    <option value="Sin troquelar">Sin troquelar</option>
                    <option value="Individuales con medio corte adelante">Individuales con medio corte adelante</option>
                    <option value="En planas para desprender corte recto">En planas para desprender corte recto</option>
                    <option value="En planas para desprender troquel nuevo">En planas para desprender troquel nuevo</option>
                    <option value="En planas para desprender troquel existente">En planas para desprender troquel existente</option>
                    <option value="Individuales con troquel nuevo">Individuales con troquel nuevo</option>
                    <option value="Individuales con troquel existente">Individuales con troquel existente</option>


                  </select>
                  {% endif %}
                    <input type="text" name="troquel_existente3" id="troquel_existente3" value="" placeholder="referencia troquel" style="display:none">

                   </td>
                   <td> <img src="{% static "mas.png"%}" alt="+" onclick="agregar3()" style="width:30px;height:auto;margin-top:25px">
                    <img id="boton_quitar2" src="{% static "menos.png"%}" alt="-" onclick="quitar2()" style="width:30px;height:auto;margin-top:25px"> </td>
      </tr>

      {% if busqueda and cotizacion_encontrada.material4 %}
            <tr id="ltres">
            {% else %}
            <tr id="ltres" style="display:none">
            {% endif %}

              <td> <select class="" name="material4" id="material3" onchange="chequeo_material4(this)">
                {% if busqueda %}
                <option value="{{ cotizacion_encontrada.material4}}">{{ cotizacion_encontrada.material4 }}</option>
                {% else %}
              <option value=""></option>
              {% endif %}
                {% for material in materiales %}
                <option value="{{ material }}">{{ material }}</option>
                {% endfor %}

              </select> </td>
              {% if busqueda %}
              <td> <input type="text" name="descripcion4" value="{{cotizacion_encontrada.descripcion_material4}}" id="descripcion3"> </td>
              {% else %}
            <td> <input type="text" name="descripcion4" value="" id="descripcion3"> </td>
            {% endif %}
            {% if busqueda and cotizacion_encontrada.medida_alto_4 != "" %}
            <td> <input type="number" name="alto4" step="0.01" pattern="\d+" value="{{cotizacion_encontrada.medida_alto_4}}" id="alto3"> X <input type="number" step="0.01" pattern="\d+" name="ancho4" value="{{cotizacion_encontrada.medida_ancho_4}}" id="ancho3"> </td>
            {% else %}
            <td> <input type="number" name="alto4" step="0.01" pattern="\d+" value="0" id="alto3"> X <input type="number" step="0.01" pattern="\d+" name="ancho4" value="0" id="ancho3"> </td>
          {% endif %}

              <td>

                <label for="">Tiro:</label>
                <select class="" name="impresiont4" onchange="pantonet4(this)" id="impresiont3">
                  {% if busqueda %}
                  <option value="{{ cotizacion_encontrada.impresion_tiro4}}">{{ cotizacion_encontrada.impresion_tiro4 }}</option>
                  {% else %}
                <option value=""></option>
                {% endif %}
                  <option value="Sin impresion">Sin impresion</option>
                  <option value="F/C">F/C</option>

                  <option value="Pantones">Pantones</option>
                  <option value="F/C + Pantones">F/C + Pantones</option>

                </select>
                <input type="text" name="num_pantonest4" id="num_pantonest4" value="" placeholder="# pantones" style="display:none">
                <label for="">Retiro:</label>
                <select class="" name="impresionr4"  onchange="pantoner4(this)" id="impresionr3">
                  {% if busqueda %}
                  <option value="{{ cotizacion_encontrada.impresion_retiro4}}">{{ cotizacion_encontrada.impresion_retiro4 }}</option>
                  {% else %}
                <option value=""></option>
                {% endif %}
                  <option value="Sin impresion">Sin impresion</option>
                  <option value="F/C">F/C</option>

                  <option value="Pantones">Pantones</option>
                  <option value="F/C + Pantones">F/C + Pantones</option>

                </select>
                <input type="text" name="num_pantonesr4" value="" id="num_pantonesr4" placeholder="# pantones" style="display:none">
               </td>
              <td>
                <select class="" name="uv4" id="uv3">
                  {% if busqueda %}
                  <option value="{{ cotizacion_encontrada.uv4}}">{{ cotizacion_encontrada.uv4 }}</option>
                  {% else %}
                <option value=""></option>
                {% endif %}
                  <option value="Sin UV">Sin UV</option>
                  <option value="Uv tiro">Uv Tiro</option>
                  <option value="Uv tiro y retiro">Uv tiro y retiro</option>
                  <option value="Sectorizado tiro">Sectorizado tiro</option>
                  <option value="Sectorizado tiro y retiro">Sectorizado tiro y retiro</option>
                </select>
                </td>
                <td>
                <select class="" name="laminado4" id="laminado3">
                  {% if busqueda %}
                  <option value="{{ cotizacion_encontrada.laminado4}}">{{ cotizacion_encontrada.laminado4 }}</option>
                  {% else %}
                <option value=""></option>
                {% endif %}
                  <option value="Sin laminado">Sin laminado</option>
                  <option value="Laminado mate tiro">Laminado mate tiro</option>
                  <option value="Laminado mate tiro y retiro">Laminado mate tiro y retiro</option>
                  <option value="Laminado brillo tiro">Laminado brillo tiro</option>
                  <option value="Laminado brillo tiro y retiro">Laminado brillo tiro y retiro</option>

                </select></td>

                <td>
                  {% if busqueda and cotizacion_encontrada.material4 != "" %}
                  {% if busqueda and cotizacion_encontrada.material4|make_list|slice:'0:8'|join:'' != "Adhesivo"   %}
                          <select class="" name="troquel4" id="troquelado3" onchange="troquel_existente4_fun(this)" required>

                            <option value="{{ cotizacion_encontrada.troquelado4}}">{{ cotizacion_encontrada.troquelado4 }}</option>
                            <option value="Sin troquelar">Sin troquelar</option>
                            <option value="Troquel nuevo">Troquel nuevo</option>
                            <option value="Troquel existente">Troquel existente</option>
                            <option value="Solo grafado">Solo grafado</option>


                          </select>
                          <select class="" name="troqueladh4" id="troqueladoadh3" onchange="troquel_existente4_fun(this)" style="display:none">

                        <option value=""></option>

                        <option value="Sin troquelar">Sin troquelar</option>
                          <option value="Individuales con medio corte adelante">Individuales con medio corte adelante</option>
                          <option value="En planas para desprender corte recto">En planas para desprender corte recto</option>
                          <option value="En planas para desprender troquel nuevo">En planas para desprender troquel nuevo</option>
                          <option value="En planas para desprender troquel existente">En planas para desprender troquel existente</option>
                          <option value="Individuales con troquel nuevo">Individuales con troquel nuevo</option>
                          <option value="Individuales con troquel existente">Individuales con troquel existente</option>


                        </select>

                          {% elif busqueda and cotizacion_encontrada.material4|make_list|slice:'0:8'|join:'' == "Adhesivo"   %}
                            <select class="" name="troqueladh4" id="troqueladoadh3" onchange="troquel_existente4_fun(this)" required>
                              <option value="{{ cotizacion_encontrada.troquelado4}}">{{ cotizacion_encontrada.troquelado4 }}</option>
                              <option value="Sin troquelar">Sin troquelar</option>
                              <option value="Individuales con medio corte adelante">Individuales con medio corte adelante</option>
                              <option value="En planas para desprender corte recto">En planas para desprender corte recto</option>
                              <option value="En planas para desprender troquel nuevo">En planas para desprender troquel nuevo</option>
                              <option value="En planas para desprender troquel existente">En planas para desprender troquel existente</option>
                              <option value="Individuales con troquel nuevo">Individuales con troquel nuevo</option>
                              <option value="Individuales con troquel existente">Individuales con troquel existente</option>
                                </select>
                                <select class="" name="troquel1" id="troquelado" onchange="troquel_existente4_fun(this)" style="display:none">

                                  <option value=""></option>
                                  <option value="Sin troquelar">Sin troquelar</option>
                                  <option value="Troquel nuevo">Troquel nuevo</option>
                                  <option value="Troquel existente">Troquel existente</option>
                                  <option value="Solo grafado">Solo grafado</option>

                                  {% endif %}
                                </select>
                            {% else %}
                            <select class="" name="troquel4" id="troquelado3" onchange="troquel_existente4_fun(this)">

                              <option value=""></option>
                              <option value="Sin troquelar">Sin troquelar</option>
                              <option value="Troquel nuevo">Troquel nuevo</option>
                              <option value="Troquel existente">Troquel existente</option>
                              <option value="Solo grafado">Solo grafado</option>


                            </select>


                          <select class="" name="troqueladh4" id="troqueladoadh3" onchange="troquel_existente4_fun(this)" style="display:none">

                        <option value=""></option>

                            <option value="Sin troquelar">Sin troquelar</option>
                          <option value="Individuales con medio corte adelante">Individuales con medio corte adelante</option>
                          <option value="En planas para desprender corte recto">En planas para desprender corte recto</option>
                          <option value="En planas para desprender troquel nuevo">En planas para desprender troquel nuevo</option>
                          <option value="En planas para desprender troquel existente">En planas para desprender troquel existente</option>
                          <option value="Individuales con troquel nuevo">Individuales con troquel nuevo</option>
                          <option value="Individuales con troquel existente">Individuales con troquel existente</option>


                        </select>
                        {% endif %}
                          <input type="text" name="troquel_existente4" id="troquel_existente4" value="" placeholder="referencia troquel" style="display:none">

                         </td>
                         <td> <img src="{% static "mas.png"%}" alt="+" onclick="agregar4()" style="width:30px;height:auto;margin-top:25px">
               <img id="boton_quitar3" src="{% static "menos.png"%}" alt="-" onclick="quitar3()" style="width:30px;height:auto;margin-top:25px"> </td>
            </tr>


            {% if busqueda and cotizacion_encontrada.material5 %}
            <tr id="lcuatro">
            {% else %}
            <tr id="lcuatro" style="display:none">
            {% endif %}

              <td> <select class="" name="material5" id="material4" onchange="chequeo_material5(this)">
                {% if busqueda %}
                <option value="{{ cotizacion_encontrada.material5}}">{{ cotizacion_encontrada.material5 }}</option>
                {% else %}
              <option value=""></option>
              {% endif %}
                {% for material in materiales %}
                <option value="{{ material }}">{{ material }}</option>
                {% endfor %}

              </select> </td>
              {% if busqueda %}
              <td> <input type="text" name="descripcion5" value="{{cotizacion_encontrada.descripcion_material5}}" id="descripcion4"> </td>
              {% else %}
            <td> <input type="text" name="descripcion5" value="" id="descripcion4"> </td>
            {% endif %}
            {% if busqueda and cotizacion_encontrada.medida_alto_5 != ""%}
            <td> <input type="number" name="alto5" step="0.01" pattern="\d+" value="{{cotizacion_encontrada.medida_alto_5}}" id="alto4"> X <input type="number" step="0.01" pattern="\d+" name="ancho5" value="{{cotizacion_encontrada.medida_ancho_5}}" id="ancho4"> </td>
            {% else %}
            <td> <input type="number" name="alto5" step="0.01" pattern="\d+" value="0" id="alto4"> X <input type="number" step="0.01" pattern="\d+" name="ancho5" value="0" id="ancho4"> </td>
          {% endif %}

              <td>

                <label for="">Tiro:</label>
                <select class="" name="impresiont5" onchange="pantonet5(this)" id="impresiont4">
                  {% if busqueda %}
                  <option value="{{ cotizacion_encontrada.impresion_tiro5}}">{{ cotizacion_encontrada.impresion_tiro5 }}</option>
                  {% else %}
                <option value=""></option>
                {% endif %}
                  <option value="Sin impresion">Sin impresion</option>
                  <option value="F/C">F/C</option>

                  <option value="Pantones">Pantones</option>
                  <option value="F/C + Pantones">F/C + Pantones</option>

                </select>
                <input type="text" name="num_pantonest5" id="num_pantonest5" value="" placeholder="# pantones" style="display:none">
                <label for="">Retiro:</label>
                <select class="" name="impresionr5"  onchange="pantoner5(this)" id="impresionr4">
                  {% if busqueda %}
                  <option value="{{ cotizacion_encontrada.impresion_retiro5}}">{{ cotizacion_encontrada.impresion_retiro5 }}</option>
                  {% else %}
                <option value=""></option>
                {% endif %}
                  <option value="Sin impresion">Sin impresion</option>
                  <option value="F/C">F/C</option>

                  <option value="Pantones">Pantones</option>
                  <option value="F/C + Pantones">F/C + Pantones</option>

                </select>
                <input type="text" name="num_pantonesr5" value="" id="num_pantonesr5" placeholder="# pantones" style="display:none">
               </td>
              <td>
                <select class="" name="uv5" id="uv4">
                  {% if busqueda %}
                  <option value="{{ cotizacion_encontrada.uv5}}">{{ cotizacion_encontrada.uv5 }}</option>
                  {% else %}
                <option value=""></option>
                {% endif %}
                  <option value="Sin UV">Sin UV</option>
                  <option value="Uv tiro">Uv Tiro</option>
                  <option value="Uv tiro y retiro">Uv tiro y retiro</option>
                  <option value="Sectorizado tiro">Sectorizado tiro</option>
                  <option value="Sectorizado tiro y retiro">Sectorizado tiro y retiro</option>
                </select>
                </td>
                <td>
                <select class="" name="laminado5" id="laminado4">
                  {% if busqueda %}
                  <option value="{{ cotizacion_encontrada.laminado5}}">{{ cotizacion_encontrada.laminado5 }}</option>
                  {% else %}
                <option value=""></option>
                {% endif %}
                  <option value="Sin laminado">Sin laminado</option>
                  <option value="Laminado mate tiro">Laminado mate tiro</option>
                  <option value="Laminado mate tiro y retiro">Laminado mate tiro y retiro</option>
                  <option value="Laminado brillo tiro">Laminado brillo tiro</option>
                  <option value="Laminado brillo tiro y retiro">Laminado brillo tiro y retiro</option>

                </select></td>

                <td>
                  {% if busqueda and cotizacion_encontrada.material5 != "" %}
                  {% if busqueda and cotizacion_encontrada.material5|make_list|slice:'0:8'|join:'' != "Adhesivo"   %}
                          <select class="" name="troquel5" id="troquelado4" onchange="troquel_existente5_fun(this)" required>

                            <option value="{{ cotizacion_encontrada.troquelado5}}">{{ cotizacion_encontrada.troquelado5 }}</option>
                            <option value="Sin troquelar">Sin troquelar</option>
                            <option value="Troquel nuevo">Troquel nuevo</option>
                            <option value="Troquel existente">Troquel existente</option>
                            <option value="Solo grafado">Solo grafado</option>


                          </select>
                          <select class="" name="troqueladh5" id="troqueladoadh4" onchange="troquel_existente5_fun(this)" style="display:none">

                        <option value=""></option>

                            <option value="Sin troquelar">Sin troquelar</option>
                          <option value="Individuales con medio corte adelante">Individuales con medio corte adelante</option>
                          <option value="En planas para desprender corte recto">En planas para desprender corte recto</option>
                          <option value="En planas para desprender troquel nuevo">En planas para desprender troquel nuevo</option>
                          <option value="En planas para desprender troquel existente">En planas para desprender troquel existente</option>
                          <option value="Individuales con troquel nuevo">Individuales con troquel nuevo</option>
                          <option value="Individuales con troquel existente">Individuales con troquel existente</option>


                        </select>

                          {% elif busqueda and cotizacion_encontrada.material5|make_list|slice:'0:8'|join:'' == "Adhesivo"   %}
                            <select class="" name="troqueladh5" id="troqueladoadh4" onchange="troquel_existente5_fun(this)" required>
                              <option value="{{ cotizacion_encontrada.troquelado5}}">{{ cotizacion_encontrada.troquelado5 }}</option>
                              <option value="Sin troquelar">Sin troquelar</option>
                              <option value="Individuales con medio corte adelante">Individuales con medio corte adelante</option>
                              <option value="En planas para desprender corte recto">En planas para desprender corte recto</option>
                              <option value="En planas para desprender troquel nuevo">En planas para desprender troquel nuevo</option>
                              <option value="En planas para desprender troquel existente">En planas para desprender troquel existente</option>
                              <option value="Individuales con troquel nuevo">Individuales con troquel nuevo</option>
                              <option value="Individuales con troquel existente">Individuales con troquel existente</option>
                                </select>
                                <select class="" name="troquel1" id="troquelado" onchange="troquel_existente5_fun(this)" style="display:none">

                                  <option value=""></option>
                                  <option value="Sin troquelar">Sin troquelar</option>
                                  <option value="Troquel nuevo">Troquel nuevo</option>
                                  <option value="Troquel existente">Troquel existente</option>
                                  <option value="Solo grafado">Solo grafado</option>


                                </select>
                                {% endif %}
                            {% else %}
                            <select class="" name="troquel5" id="troquelado4" onchange="troquel_existente5_fun(this)">

                              <option value=""></option>
                              <option value="Sin troquelar">Sin troquelar</option>
                              <option value="Troquel nuevo">Troquel nuevo</option>
                              <option value="Troquel existente">Troquel existente</option>
                              <option value="Solo grafado">Solo grafado</option>


                            </select>


                          <select class="" name="troqueladh5" id="troqueladoadh4" onchange="troquel_existente5_fun(this)" style="display:none">

                        <option value=""></option>

                            <option value="Sin troquelar">Sin troquelar</option>
                          <option value="Individuales con medio corte adelante">Individuales con medio corte adelante</option>
                          <option value="En planas para desprender corte recto">En planas para desprender corte recto</option>
                          <option value="En planas para desprender troquel nuevo">En planas para desprender troquel nuevo</option>
                          <option value="En planas para desprender troquel existente">En planas para desprender troquel existente</option>
                          <option value="Individuales con troquel nuevo">Individuales con troquel nuevo</option>
                          <option value="Individuales con troquel existente">Individuales con troquel existente</option>


                        </select>
                        {% endif %}
                          <input type="text" name="troquel_existente5" id="troquel_existente5" value="" placeholder="referencia troquel" style="display:none">

                         </td>
               <td> <img src="{% static "menos.png"%}" alt="-" onclick="quitar4()" style="width:30px;height:auto;margin-top:25px"> </td>
            </tr>


</table>

<table class="table table-bordered solido">

  <tr>
    <td>
      {% if ver_cinta.4 == "roja" or ver_cinta.4 == "blanca" %}
      <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="sin_cinta" value="sin_cinta" onclick="check()">
  <label class="form-check-label" for="inlineRadio1">sin cinta</label>
  </div>
  <div class="form-check form-check-inline">
  <input required class="form-check-input" type="radio" name="inlineRadioOptions" id="con_cinta" value="con_cinta"  onclick="check()" checked>
  <label class="form-check-label" for="inlineRadio2"  >con cinta</label>
  </div>
  <td> <select class="" id="tipo_cinta" name="tipo_cinta">

    <option value="{{ver_cinta.3}} {{ver_cinta.4}}">{{ver_cinta.3}} {{ver_cinta.4}}</option>

  <option value="cinta roja">Cinta roja</option>
  <option value="cinta blanca">Cinta blanca</option>


</select> <input required type="number" step="1" pattern="\d+" id="cantidad_cintas" name="cantidad_cintas" value="{{ver_cinta.0}}" placeholder="cantidad de cintas"> <label for="">de</label> <input type="number" step="0.01" pattern="\d+" id="cm_cintas" name="cm_cintas" value="{{ver_cinta.6}}" placeholder="cm de c/cinta" required> </td>

{% else %}
      <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="sin_cinta" value="sin_cinta" onclick="check()" {% if busqueda %} checked {% endif %}>
  <label class="form-check-label" for="inlineRadio1"  >sin cinta</label>
  </div>
  <div class="form-check form-check-inline">
  <input required class="form-check-input" type="radio" name="inlineRadioOptions" id="con_cinta" value="con_cinta" onclick="check()">
  <label class="form-check-label" for="inlineRadio2">con cinta</label>
  </div>
  <td> <select class="" id="tipo_cinta" name="tipo_cinta" disabled>



  <option value="cinta roja">Cinta roja</option>
  <option value="cinta blanca">Cinta blanca</option>


</select> <input required type="number" step="1" pattern="\d+" id="cantidad_cintas" name="cantidad_cintas" value="" placeholder="cantidad de cintas" disabled> <label for="">de</label> <input type="number" step="0.01" pattern="\d+" id="cm_cintas" name="cm_cintas" value="" placeholder="cm de c/cinta" disabled required> </td>
{% endif %}</td>



    <td id="adicional_row" style="display:none"> <input type="text" id="adicional" name="adicional" value="" placeholder="" ><input type="hidden" id="adicional_texto" name="adicional_texto" value=""> </td>

</tr>
      <tr>


        <td colspan="2" rowspan="2" style="color:darkblue"><label for="">Adjuntar imagen: </label>  {{ cotizacion.imagen }} </td>
        </tr>


      <tr>

        {% if busqueda %}
        <td colspan="2"> <textarea name="detalles" rows="5" cols="60" placeholder="Detalles adicionales:">{{cotizacion_encontrada.detalles}}</textarea> </td>
        {% else %}
        <td colspan="2"> <textarea name="detalles" rows="5" cols="60" placeholder="Detalles adicionales:"></textarea> </td>
        {% endif %}

    </tr>
    </table>
    <div class="container">

    </div>
    <div class="container">


    <input type="submit" name="Solicitar" class="btn btn-primary" value="SOLICITAR">
    </div>
  </form>
{% endif %}
{% endif %}
{% endif %}
</div>

{% endblock %}
